.table_link {
    width: 300px;
     padding-top: 20px;
     margin-left: auto;    
     margin-right: 0px;
 }
 a {
    background-color: rgb(209, 232, 238);
  }

  .butt {
    border: 1px;
    border-radius: 5px;
    font-family: arial,sans-serif;
    font-size: 40px;
    margin: 10px 5px;
    padding: 0px 20px;
    cursor: pointer;
  }
  .field {
    width: 320px;
  }